@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

div{
  display: block;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.gap {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

  .tablogo{
  padding-top: 5px;
}

section{
  font: 400 16px/1.5 'Work Sans';
  color: #ddd;
  font-kerning: normal;
  margin: auto;
  margin-bottom: 50px;
  clear: both;
  max-width: 977px;
  display: block;
}

.start .button{
 
  margin-top: 20px;
  width: 300px;
  float: left;
  
}

.big-button {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #b85cf1;
    color: #222;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 50%), 0 1px 5px rgb(0 0 0 / 50%);
    text-shadow: 0 1px 0 rgb(255 255 255 / 30%);
    border-radius: 5px;
    padding: 13px 16px 13px 16px;
    text-align: center;
}

.big-button:hover{
  background-color: #733a97;
}

.start .button a{
text-decoration: none;
}

.start .left {
  float: left;
  margin-right: 60px;
}

.start .circle-image {
  height: 330px;
  width: 330px;
  margin-left: 20px;
  border-radius: 50%;
  background-color: #2e2e2e;
}

.featured-video {
  padding-top: 50px;
  padding-bottom: 50px;
}

.featured-video .videoWrapper iframe {
  float: right;
  margin-left: 30px;
  box-shadow: 2px 2px 20px #232323;
}

iframe {
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

footer{ 
    float: left;
    width: 100%;
    clear: both;
    height: 250px;
    background-color: #413f3f;
    padding-bottom: 5px;
    color: #c0c0c0;
    display: block;
}

.wrapper {
  padding-left: 0;
  padding-right: 0;
  max-width: none;
  min-width: 820px;
}

footer .first, .second, .third {
  width: 33.333%;
  float: left;
  padding: 30px 0px 0px 0px;
  box-sizing: border-box;
  margin-top: 20px;
}

footer .first {
  padding-left: 30px;
}

footer .third {
  text-align: right;
  text-transform: uppercase;
  padding-right: 30px;
}

footer .third p {
  font-weight: lighter;
  font-size: 18px;
  line-height: 1.5em;
  margin-top: 15px;
  text-shadow: 0 1px 3px rgb(0 0 0 / 50%);
}

footer .third a {
  font-size: 30px;
  text-decoration: none;
  color: #b85cf1;
}

.social img {
width: 1.4cm;
}

  /* .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #00b7ff;
    color: white;
  } */