.flexbox{
    display: flex;
    /* border: 1px solid gray; */
    flex-wrap: wrap;
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: center;
    overflow: none;
}

.flexitem{
    background-color: rgba(127, 255, 212, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    /* position: absolute; */
    top: 0;
    max-width: 440;
    max-height: 225;
    height: 100%;
    justify-content: center;
    align-content: center;
    place-items: center;
    text-align: center;
}

iframe{
    width: 99%;
}

a{
    text-decoration: none;
    color: blueviolet;
}

@media (min-width:0px){
 .flexitem{
    width: 100%;
 }   
}

   @media (min-width:650px){
 .flexitem{
    width: 50%;
 }   
}

@media (min-width:950px){
 .flexitem{
    width: 33.3333%;
 }   
}   

@media (min-width:1500px){
 .flexitem{
    width: 25%;
 }   
}
